body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}




h1{
    font-size: 2m;color: darkgreen;
}

h2{
    color: green;
}
#tituloPrincipal{
    background-color: darkgreen;
    color: aliceblue;
    text-align: center;
    
}
}

.topico{
    text-align: right;
}
.topico2{
    text-align: center;
}
.paragrafo1{
    color: red;
}
.paragrafo2{
    text-align: justify;
}
